<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Le Projet Saint-Vincent de Paul</h2>
                <hr class="light">
                <p class="text-faded">Description du projet en quelques phrases : Saint-Vincent de Paul + lien vers le site de la Mairie ou page spécifique ?</p>
				<p class="text-faded">Second paragraphe.</p>
                <a href="#" class="btn btn-default btn-xl">Aller plus loin</a>
            </div>
        </div>
    </div>
</section>
