<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Le projet !</h2>
                <hr class="light">
                <p class="text-faded">Descriptif du projet Saint-Vincent de Paul / Coopérative d'habitants en quelques phrases</p>
                <a href="#" class="btn btn-default btn-xl">Plus d'informations</a>
            </div>
        </div>
    </div>
</section>
