<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Une coopérative d'habitants ?</h2>
				 <br >
                <h3 class="section-heading">C'est quoi ?</h3>
              
                <p>Une coopérative d'habitants est un groupement de personnes qui s'unissent pour acquérir (ou produire) un bien immobilier et le gérer.</p>
				<hr class="light">
				<h3 class="section-heading">Comment ça marche ? et qui peut participer ?</h3>
				<!--<p>Petite phrase explicative comment ça marche.</p>
							 
				<p class="text-faded">Petite phrase explicative comment ça marche.</p>
				<hr class="light">
				<h3 class="section-heading">Pour qui ?</h3>
				
				<p class="text-faded"><a class="page-scroll" href="#appel-candidature">Pour tous.</a></p> -->
				
				<a href="{{ "/cooperative-habitants" | prepend: site.baseurl }}" class="btn btn-primary btn-xl margin-top-2">Plus d'informations</a>				
				<hr class="light">
            </div>
        </div>
	</div>
</section>
<section class="bg-primary" id="cooperative">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Le projet de l'association</h2>
				 <br >
                <h3 class="section-heading">Pour un habitat participatif et non spéculatif en plein Paris</h3>
              
                <p class="text-faded">L’association CoopSVP a pour objectif de promouvoir et réaliser, au sein du futur
éco-quartier projeté par la Ville de Paris sur le site de l’ancien Hôpital Saint-Vincent-de-Paul, dans le 14<sup>ème</sup> arrondissement de Paris, une coopérative d’habitants de 90 logements.</p>
				<hr class="light"><!-- 
				<h3 class="section-heading">Comment ça marche ?</h3>
				
				<p class="text-faded">Petite phrase explicative comment ça marche.</p>
				<hr class="light">
				<h3 class="section-heading">Pour qui ?</h3>
				
				<p class="text-faded"><a class="page-scroll" href="#appel-candidature">Pour tous.</a></p> -->
				<br />
                <a href="{{ "/notre-projet" | prepend: site.baseurl }}" class="btn btn-default btn-xl">A quoi ressemble notre projet</a>				
            </div>
        </div>		
    </div>
</section>
