<section class="bg-primary" id="cooperative">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Une coopérative d'habitants ?</h2>
				 <br >
                <h3 class="section-heading">C'est quoi ?</h3>
              
                <p class="text-faded">Petite phrase coopérative</p>
				<p class="text-faded">Test Second paragraphe.</p>
				<hr class="light">
				<h3 class="section-heading">Comment ça marche ?</h3>
				
				<p class="text-faded">Petite phrase explicative comment ça marche.</p>
				<hr class="light">
				<h3 class="section-heading">Pour qui ?</h3>
				
				<p class="text-faded">Pour tous.</p>
				<br />
                <a href="/cooperative-habitants.html" class="btn btn-default btn-xl">Envie d'en apprendre plus ?</a>
            </div>
        </div>
    </div>
</section>
