<header id="{{ page.header-id }}">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Pour une coopérative d'habitants</h1><h2>&Eacute;co-quartier Saint-Vincent-de-Paul &ndash; Paris 14<sup>ème</sup></h2>
			<!-- <h1>{{ page.h1 }}</h1>
			<h2>{{ page.h1 }}</h2> -->
            <hr>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
           <!--  <a href="{{ "/about" | prepend: site.baseurl }}" class="btn btn-primary btn-xl margin-top-1">En savoir plus</a> -->
        </div>
    </div>
</header>
