<header id="{{ page.header-id }}">
    <div class="header-content">
        <div class="header-content-inner">            
		
			<h1><span>{{ page.h1 }}</span></h1>
			<h2>{{ page.h2 }}</h2>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
           <!--  <a href="{{ "/about" | prepend: site.baseurl }}" class="btn btn-primary btn-xl margin-top-1">En savoir plus</a> -->
        </div>
    </div>
</header>
