<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Coopérative d'habitants écoquartier Saint-Vincent de Paul</h1>
            <hr>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <a href="{{ "/about" | prepend: site.baseurl }}" class="btn btn-primary btn-xl margin-top-1">En savoir plus</a>
        </div>
    </div>
</header>
