<section id="appel-candidature" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Intéressé-e-s ?</h2>
                <hr class="primary">
				<p>Vous l'avez compris, nous recherchons des personnes motivées par un nouveau mode de vie !</p>
				<a href="/appel-a-candidatures.html" class="btn btn-default btn-xl margin-top-2">Plus de détail</a>				
            </div>
        </div>
    </div>
   <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-pdf-o wow bounceIn text-primary"></i>
                    <h3>Mode d'emploi</h3>
                    <p class="text-muted">Pour savoir comment le remplir.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-excel-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Appel à candidatures</h3>
                    <p class="text-muted">A compléter et à envoyer par mail à {{ site.email }}</p>
					<p>bla bla Vous disposez d'un droit ...</p>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
